/debian/.debhelper/
/debian/deb-n-1-fi-archive-keyring.debhelper.log
/debian/deb-n-1-fi-archive-keyring.substvars
/debian/deb-n-1-fi-archive-keyring/
/debian/debhelper-build-stamp
/debian/files

/build-gpg-home/
/keyrings/*
/trustdb.gpg
